# Dependencies & Outputs
node_modules
dist
dist-ssr
temp_payload
*.ipa

# Environment & Secrets
.env
.env.*
*.local
*.pem
*.key
*.p12
*.cer
*.crt
*.mobileprovision
*.keystore

# Logs & System Files
*.log
.DS_Store
Thumbs.db
